.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   background-image: radial-gradient(circle at 77.14% 82.35%, #7b4786 0, #613178 25%, #411867 50%, #1a0157 75%, #00004a 100%);
}

mat-card{
    opacity: 0.7;
}
mat-card-header {
    margin: 0;
    padding: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
mat-icon{
    color: #2e2c64;
    transform: scale(6);
}
mat-divider{
    margin-bottom: 2vh;
}

mat-card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 3vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
mat-form-field {
    width: 300px;
    margin: 10px;
}

.btnLogin {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 2vh;
    color: white;
    background-color: #2e2c64;
}
.btnLogin:hover {
    background-color: #3a378d;
}

@media (max-width: 600px)
{

}