
<h1 mat-dialog-title>Editar {{data.data.tipoEquipamento}}</h1>
<div mat-dialog-content>
    <form [formGroup]="FormAtivos">
        <div class="row">
            <mat-form-field appearance="fill">
                <mat-label>Marca</mat-label>
                <input matInput formControlName="marca" readonly>
            </mat-form-field>
            <mat-form-field appearance="fill" >
                <mat-label>Identificação</mat-label>
                <input matInput formControlName="identificacao" readonly>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="fill">
                <mat-label>Departamento</mat-label>
                <mat-select required formControlName="departamento">
                    <mat-option *ngFor="let c of data.ListDepartamento" value="{{c}}">
                        {{c}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="FormAtivos.controls.departamento.hasError('required')">
                    Por favor Selecione um Departamento
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Status</mat-label>
                <mat-select required formControlName="status">
                    <mat-option *ngFor="let c of data.ListStatus" value="{{c}}">
                        {{c}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="FormAtivos.controls.status.hasError('required')">
                    Por favor Selecione um Status
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="SubmitAtivo()">Salvar</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Fechar</button>
</div>