/* You can add global styles to this file, and also import other style files */

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button {
    padding-left: 3vh;
    padding-right: 3vh;
    color: white;
    background-color: #2e2c64;
}
